doctype html
head

    //- Standard Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    //- Site Properties
    title Hackland Access Control
    link(rel='stylesheet' type='text/css' href='/semantic.min.css')

    script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
    script(src='/semantic.min.js')

    //- Custom style
    style(type='text/css').
        body {
            background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }
        .main.container {
            margin-top: 7em;
        }
        .wireframe {
            margin-top: 2em;
        }
        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }

    //- favicon
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
