body
    //- Menu
    .ui.fixed.inverted.menu
        .ui.container
            a.header.item(href='/')
                img.logo(src='/logo.png')
                | Hackland Access
            a.item(href='/') Home

            if (auth.admin)
                .ui.simple.dropdown.item
                    | Admin
                    i.dropdown.icon
                    .menu
                        a.item(href='/users') Users
                        a.item(href='/tokens') RFID Cards
                        a.item(href='/devices') Devices
                        a.item(href='/slack/channels') Slack channels
                        a.item(href='/log?limit=20') Access Log
                        a.item(href='/mqtt/publish') MQTT Tools

            if (auth.loggedIn)
                div
                    a.item(href='/logout')
                        p.ui.primary.button Logout

