include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 You do not have the rights to view this page.

    if (message)
        p #{message}

    a(href='/login').ui.primary.button Login