include includes/head.pug
include includes/topbar.pug

.ui.main.container

    h1 Access Log

    p Note that logs expire after 30 days.

    table.ui.celled.table
        thead
            tr
                th Date & Time
                th RFID token
                th User name
                th Location
                th Authorised

        tbody
            each log in accessLog
                tr
                    td #{log.date}
                    td #{log.token}
                    if (log.user)
                        td 
                            a(href='/user/' + log.user.userId + '/edit') #{log.user.name}
                    else
                        td
                    td #{log.location}
                    td #{log.authorised}

            else
                tr
                    td No recents logs
        

