include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Add a new action to a device event

    form(action="/device/" + device.uid + '/newAction', method="POST")

        div.ui.labeled.input
            label(for="type").ui.label Type:
            select(name="type").ui.dropdown
                each opt in device.possibleActions
                    option(value=opt) #{opt}
        br
        br

        div.ui.labeled.input
            label(for="deviceUid").ui.label Target Device Uid:
            select(name="deviceUid").ui.dropdown
                each device in otherDevices
                    option(value=device.uid) #{device.label}
        br
        br

        div.ui.labeled.input
            label(for="message").ui.label Message:
            input(name="message")
        br
        br

        button(type="submit").ui.primary.button  Add

    br
    a(href="javascript:history.back()").ui.red.button  Cancel