include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Devices

    table.ui.celled.table
        thead
            tr
                th Device type
                th Uid
                th Location
                th last seen
                th Enabled?
                th 
                th 
                th 

        tbody
            each device in devices
                tr
                    td #{device.type}
                    td #{device.uid}
                    td #{device.location}
                    td #{device.lastSeenLocal}
                    if (device.enabled)
                        td yes
                    else
                        td no
                    td 
                        a(href='/device/' + device.uid + '/edit').ui.button.compact.small Edit
                    td
                        a(href='/device/' + device.uid + '/logs').ui.button.compact.small View Logs
                    td
                        a(href='/device/' + device.uid + '/remove').ui.button.compact.small Delete

            else
                tr
                    td No devices found
        