include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Edit device

    p A device is a device on the network that can create events and/or execute events.

    h2 Details
    table.ui.definition.table
        tbody
            tr 
                td Uid
                td #{device.uid}
            tr 
                td Type
                td #{device.type}
            tr 
                td Last seen
                td #{device.lastSeen}

    h2 Edit
    form(action='/device/' + device.uid + '/edit' method='POST')

        div.ui.labeled.input
            label(for='location').ui.label location: 
            input(name='location' value=device.location)
        br
        br

        div.ui.labeled.input
            label(for='enabled').ui.label enabled?  
            input(name='enabled'  type='checkbox' checked=device.enabled)
        br
        br

        button(type='submit').ui.primary.button Save

    br
    hr
    h2 Upload new binary
    form(action='/device/' + device.uid + '/upgrade' method='POST' enctype='multipart/form-data')
        p In the Arduino IDE go to "Sketch > Export compiled binary".  Make sure the 'secrets.h' file is correct. 
          | The binary will be saved to where your Arduino code is.

        div.ui.labeled.input
            label(for='fileupload').ui.label Select a binary to upload
            input(type='file' name='bin' accept='.bin' value='fileupload')
        br
        br
        button(type='submit').ui.primary.button Upgrade

    br
    hr
    h2 Events
    if device.emitsActions
        p
            a(href='/device/' + device.uid + '/event').ui.primary.button Edit events
