include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Device Events and Actions

    p A device can create an event (e.g. 'card') or execute an action (e.g. 'unlock').

    table.ui.definition.table
        tbody
            tr 
                td Uid
                td #{device.uid}
            tr 
                td Location
                td #{device.location}
            tr 
                td Type
                td #{device.type}
            tr 
                td Last seen
                td #{device.lastSeen}

    div
        h2 On this event:
        p When a '#{device.event.type}' event occurs do the following actions

        table.ui.table
            thead
                tr
                    th Action
                    th Target device
                    th Message

            tbody
                each action in device.event.actions
                    tr
                        td #{action.type}
                        td #{action.deviceUid} 
                        td #{action.message}

                else
                    tr
                        td No actions configured
        
            tfoot.full-width
                tr
                th
                    a(href='/device/' + device.uid + '/newAction').ui.floated.small.primary.labeled.icon.button
                            i.plus.icon
                            |  Add Action
                if (device.event && device.event.actions && device.event.actions.length > 0)
                    th
                        a(href='/device/' + device.uid + '/popAction').ui.floated.small.primary.labeled.icon.button
                                i.x.icon
                                |  Remove final action
                else
                    th
                th

    br
    a(href='/devices').ui.primary.button Back