include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Device
    h2 Details

    table.ui.definition.table
        tbody
            tr 
                td Uid
                td #{device.uid}
            tr 
                td Location
                td #{device.location}
            tr 
                td Type
                td #{device.type}
            tr 
                td Last seen
                td #{device.lastSeen}

    h2 Logs

    table.ui.definition.table
        tbody
            each log in device.logs
                tr
                    td #{log}
            else
                tr
                    td No recent logs captured

    br
    a(href='/devices').ui.primary.button Back