include includes/head.pug
include includes/topbar.pug

.ui.main.container

    h1 Hackland Access Control

    br
    h2 Your details

    div.ui.large.left.action.input
        button(style="width:150px;").ui.grey.button Name
        input(type="text" style="width:300px;" value=auth.user.realName disabled)

    br
    br

    div.ui.large.left.action.input
        button(style="width:150px;").ui.grey.button Member status
        input(type="text" style="width:300px;" value=auth.user.memberStatus disabled)


    br
    br

    if (auth.isMember)
        h2 Tools

        div
            a(href='/self/tokens').ui.primary.button Manage your RFID cards
            br
            br

        h2 Doors
        div

            table.ui.celled.table
                thead
                    tr
                        th Location
                        th State
                        th

                tbody
                    each lock in locks
                        tr
                            td #{lock.location}
                            td #{lock.state}
                            td 
                                if (lock.location == 'Hackland1')
                                    a(href='/device/web/hl1door/unlock').ui.primary.button Open
                                else
                                    a(href='/device/web/hl2door/unlock').ui.primary.button Open
