include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Login using slack

    p 
    | Welcome to Hackland!  If you are a paying Hackland member and you use slack you can 
    | <a href='/auth/slack'>sign-in using Slack</a> and open the doors, or register 
    | your RFID card.

    br
    br

    div
        a(href='/auth/slack')
            img(src='/sign_in_with_slack.png')
