include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Publish an MQTT Message

    form(action="/mqtt/publish", method="POST")
        div.ui.labeled.input
            label(for="topic").ui.label Topic
            input(name="topic" value=topic)
        br
        br

        div.ui.labeled.input
            label(for="message").ui.label Message 
            input(name="message" value=message)
        br
        br

        button(type="submit").ui.primary.button Publish