include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 The RFID cards linked to your account

    table.ui.celled.table
        thead
            tr
                th RFID token id
                th Last used
                th
    
        tbody
            each token in tokens
                tr
                    td #{token.token}
                    td #{token.lastSeenLocal}
                    td
                        a(href='/self/unlinktoken/' + token.token).ui.button.compact.small Unlink

            else
                tr
                    td No RFID cards

    a(href='/self/linktoken').ui.primary.button Link a new token

    br
    br

    a(href='/').ui.primary.button Home
