include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 RFID Cards seen in the last #{minutes} minutes

    p Swipe an RFID card and click refresh.  You will then be able to link this RFID card to your account.

    table.ui.celled.table
        thead
            tr
                th RFID token id
                th Last seen
                th
    
        tbody
            each token in tokens
                tr
                    td #{token.token}
                    td #{token.lastSeenLocal}
                    td
                        a(href='/self/linktoken/' + token.token).ui.button.compact.small That's my RFID!

            else
                tr
                    td No recent RFID cards

    a(href='/self/linktoken').ui.primary.button Refresh

    br
    br

    a(href='/').ui.primary.button Home
