include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Members in the #{channel.name} channel

    table.ui.compact.celled.table
        thead
            tr
                th Name
                th Real name
        tbody
            each member in members
                tr
                    td #{member.name}
                    td #{member.realName}

            else
                tr
                    td No members found

