include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Slack Channels

    p This shows all the hidden channels in slack.  Hidden channels are invite only.

    table.ui.celled.table
        thead
            tr
                th Name
                th Purpose
                th

        tbody
            each channel in channels
                tr
                    td #{channel.name}
                    td #{channel.purpose}
                    td 
                        a(href='/slack/channel/' + channel.id).ui.button.compact.small  View members
            else
                tr
                    td No hidden channels found