include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 User profile from Slack

    table
        tr
            td Name
            td #{slackUser.name}
        tr
            td Real Name
            td #{slackUser.realName}

        tr
            td Hackland Access User
            if (slackUser.hacklandAccessUser)
                td
                    a(href='/user/' + user.userId + '/edit') View
            else
                td  Not associated 
