include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Tokens

    table.ui.celled.table
        thead
            tr
                th Token Id
                th Last seen
                th Associated to
                th

        tbody
            each token in tokens
                tr
                    td #{token.token}
                    td #{token.lastSeenLocal}
                    if (token.userId && token.user)
                        td #{token.user.name}
                    else
                        td 
                    if (token.userId)
                        td
                            a(href='/token/' + token.token + '/unlink').ui.button.compact.small Unlink
                    else
                        td
                            a(href='/token/' + token.token + '/link').ui.button.compact.small Link with user

            else
                tr
                    td No tokens found

