include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Associate the "#{token}" token to a user

    table.ui.celled.table
        thead
            tr
                th User name
                th Email
                th

        tbody
            each user in users
                tr
                    td #{user.name}
                    td #{user.email}
                    td 
                        a(href='/token/' + token + '/link/' + user.userId).ui.button.compact.small associate

            else
                tr
                    td No users found
        

    p
        a(href='/tokens').ui.red.button Cancel
