include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Edit user

    form(action="/user/" + user.userId + '/edit', method="POST")
        div.ui.labeled.input
            label(for="name").ui.label Name:
            input(name="name" value=user.name) 
        br
        br

        div.ui.labeled.input
            label(for="email").ui.label E-mail:
            input(name="email" value=user.email)
        br
        br

        div
            label(for="slackUserId").ui.label Slack Id
            p #{user.slackUserId}
        br
        br
        
        div.ui.labeled.input
            label(for="admin").ui.label Admin
            input(name="admin" type="checkbox" checked=user.admin)
        br
        br

        div.ui.labeled.input
            label(for="enabled").ui.label Enabled?
            input(name="enabled" type="checkbox" checked=user.enabled)
        br
        br

        button(type="submit").ui.primary.button Save

    br
    a(href='/users').ui.red.button Cancel
