include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Users

    table.ui.compact.celled.table
        thead
            tr
                th User name
                th Slack Id
                th Email
                th Admin
                th Enabled? 
                th
                th
        tbody
            each user in users
                tr
                    td #{user.name}
                    if (user.slackUserId)
                        td #{user.slackUserId}  
                            a(href='/user/' + user.userId + '/slacklink/null').ui.button.compact.small Unlink

                    else
                        td 
                            a(href='/user/' + user.userId + '/slacklink').ui.primary.button.compact.small Link
                    td #{user.email}
                    if (user.admin)
                        td yes
                    else
                        td no
                    if (user.enabled)
                        td yes
                    else
                        td no
                    td 
                        a(href='/user/' + user.userId + '/edit').ui.button.compact.small  Edit
                    td 
                        a(href='/user/' + user.userId + '/remove').ui.button.compact.small  Delete
            else
                tr
                    td No users found
        tfoot.full-width
            tr
            th(colspan='5')
                a(href='/user/new').ui.right.floated.small.primary.labeled.icon.button
                        i.user.icon
                        |  Add User