include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Add new user

    form(action = "/user/new", method = "POST")
        div.ui.labeled.input
            label(for = "name").ui.label Name
            input(name = "name" value=user.name)
        br
        br
        
        div.ui.labeled.input
            label(for = "email").ui.label E-mail:
            input(name = "email" value=user.email)
        br
        br

        input(type="hidden" id="custId" name="slackUserId" value=user.slackUserId)
        button(type="submit").ui.primary.button Save
