include includes/head.pug
include includes/topbar.pug

.ui.main.container
    h1 Associate "#{user.name}" to a Slack account

    table.ui.celled.table
        thead
            tr
                th Slack real name
                th Slack nick name
                th

        tbody
            each member in slackMembers
                tr
                    td #{member.realName}
                    td #{member.name}
                    td 
                        a(href='/user/' + user.userId + '/slacklink/' + member.id).ui.button.compact.small associate
            else
                tr
                    td No users found

    p
        a(href='/users').ui.red.button Cancel
